{% assign bird = site.data.bird | sort:'name' %}
{% for bird in bird %} 
<article class="bird-item">
	<div class="bird-item-wrapper">
		{%if bird.image %}
		<figure class="bird-image-container">
		<img class="bird-image" src="{{bird.image}}" alt="{{bird.caption}}" loading="lazy">
		<p class="visually-hidden">Image source: <cite>{{bird.attribution}}</cite></p>
		<figcaption>{{bird.latin-name}}</figcaption>
		</figure>
		{%else%}
		<figure figure class="bird-image-container">
		<img class="bird-image" src="https://res.cloudinary.com/fergd/image/upload/v1640145036/Birds/placeholder_lazy.png" alt="" loading="lazy">
		<figcaption>Missingus picturous</figcaption>
		</figure>
		{%endif%}
		<h1 class="bird-item-heading">{{bird.name}}</h1>
		<ul class="bird-item-stats">
			{%if bird.date%}
			<li class="stat">Date seen: <span>{{bird.date}}</span></li>
			{%endif%}
			<li class="stat">Frequency spotted: <span>{{bird.frequency}}</span></li>
			<li class="stat">Season(s) spotted: <span>{{bird.season}}</span></li>
			<li class="stat"><a href="{{bird.attribution}}" target="_blank">Image Source</a></li>
		</ul>
	</div>
</article>
{% endfor %}
<article class="bird-item counter">
	<div class="bird-item-wrapper">
	    <h2 class="counter-title"><span class="counter-number">{{site.data.bird | size }}</span> birds &amp; counting...</h2>
	    <p class="about-text">I put this site together as a fun way of keeping track of the birds that my wife and I love to watch. I am limiting this list to birds we've seen land in my immediate yard and trees.</p>
		<p class="about-text">On the property, I have two bird feeders: one is located in a maple in the front yard, and one in a poplar in the back yard. Below the maple is a bird bath which the birds make frequent use of. I have a large, old cottonwood along with thick bushes that line the perimeter. All this, combined with a lack of pets, has made my small patch of earth quite attractive to local birds.</p>
		<p class="about-text">I am looking forward to growing this list as the years progress.</p>
	</div>
</article>