{% assign bird = site.data.bird | sort:'name' %}
{% for bird in bird %} 
<article class="bird-item">
	<div class="bird-item-wrapper">
		{%if bird.image %}
		<figure class="bird-image-container {% if bird.uncertain %}uncertain{%endif%}">
		<img class="bird-image" src="{{bird.image}}" alt="{{bird.caption}}" loading="lazy">
		<p class="visually-hidden">Image source: <cite>{{bird.page_url}}</cite></p>
		<figcaption>{{bird.latin-name}}</figcaption>
		</figure>
		{%else%}
		<figure figure class="bird-image-container">
		<img class="bird-image" src="https://res.cloudinary.com/fergd/image/upload/v1640145036/Birds/placeholder_lazy.png" alt="" loading="lazy">
		<figcaption>Missingus picturous</figcaption>
		</figure>
		{%endif%}
		<h1 class="bird-item-heading">{{bird.name}}</h1>
		<ul class="bird-item-stats">
			{%if bird.date%}
			<li class="stat">Date seen: <span>{{bird.date}}</span></li>
			{%endif%}
			<li class="stat">Frequency spotted: <span>{{bird.frequency}}</span></li>
			<li class="stat">Season(s) spotted: <span>{{bird.season}}</span></li>
			<li class="stat"><a href="{{bird.page_url}}" target="_blank">Image Source</a></li>
		</ul>
	</div>
</article>
{% endfor %}
<article class="bird-item counter">
	<div class="bird-item-wrapper">
	    <h2 class="counter-title"><span class="counter-number">{{site.data.bird | size }}</span> Spotted &amp; Counting...</h2>
	    <p class="about-text">I put this site together as a way of keeping track of birds (which has become an interest of mine), and also to scratch my web design itch. The list is limited to birds my wife and I have spotted directly around our yard in Thornton, Colorado.</p>
		<p class="about-text">On the property there are two bird feeders. One is located in a young poplar in the back yard, and the other in a maple in the front. Below the maple is a bird bath, which the sparrows and blue jays especially seem to enjoy.</p>
		<p class="about-text">In the back is a towering old cottonwood where the hawks and owls like to sit and observe. Thick bushes line the perimeter and provide ample cover. All this, combined with a lack of pets, seems to have made my small patch of earth quite attractive to local birds.</p>
	</div>
</article>